a{
    color: #FF6060;   
}
#header_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3% 7% 4% 7%;
}

#nav_container{
    width: 25%;
    display: flex;
    justify-content: space-between;
    text-align: right;
}

nav > a{
   width: 50%;
}